---
home: false
layout: layouts/default
title: "City websites: accessibility rankings"
descriptionHtml: 'Project ScanGov <a href="https://standards.scangov.org/accessibility/">accessibility</a> rankings for U.S. city government websites, with the most common failures.'
showLastUpdated: true
keywords: city government websites, rankings, accessibility

pagination:
  data: accessibility.cities
  size: 100
  alias: member
---

{% set specificAttribute = "accessibility" %}
{% set currentsort = "cities" %}
{% set showPagination = true %}
{% set chartsInclude = "group-charts.html" %}
{% set groupSummary = citySummary %}
{% set groupNoun = "city sites" %}
{% set groupMapInclude = "city-map.html" %}
{% set compactTable = true %}

{% include "sortcontent.html" %}
{% if pagination.pageNumber == 0 %}
{% set footnoteSubject = "the main website of each city on our city list" %}
{% set footnoteScope = "" %}
{% set footnoteRespondingCount = citySummary.respondingCount %}
{% set footnoteScoredCount = citySummary.scoredCount %}
{% set footnotePartialCount = citySummary.partialCount %}
{% set footnoteNoResponseCount = citySummary.count - citySummary.respondingCount %}
{% set footnoteScanWindow = citySummary.scanWindow %}
<div class="container">{% include "data-footnote.html" %}</div>
{% endif %}
