---
layout: layouts/page
title: Changelog
description: Government website changes.

pagination:
    data: history
    size: 200
    alias: historyPage
---

<div class="alert alert-info" role="alert">
    Note: Changelog reflects ScanGov scraper times and not when actual changes were made.
</div>
<div class="col-12">
  <section class="py-4">
    <ul class="timeline" id="timeline">
        {% set currentDate = "" %}
        {% set changeDate = true %}
        {% for item in historyPage %}
            {% if item.date != currentDate %}
                {% set currentDate = item.date %}
                {% set changeDate = true %}
                <li class="timeline-item">
                    <p class="timeline-date">{{ item.date }}</p>
            {% endif %}
                        <div class="text-muted">
                            <p class="timeline-domain">
                                {{ item.domain }}:
                                <ul>
                                    {% for field in item.changes %}
                                    <li>
                                        {% set oldPercent = field.oldScore / field.newTotal * 100 %}
                                        {% set newPercent = field.newScore / field.newTotal * 100 %}
                                        <a href="/profile/{{ item.domain | slugify }}/details/?attr={{ field.name | lower }}">{{ field.name }}</a>: Grade: {{ oldPercent | gradify }} → {{ newPercent | gradify }} /
                                        Score: {{ oldPercent | percentify }} → {{ newPercent | percentify }}
                                        ({{ field.newScore }} of {{ field.newTotal }} elements)
                                    </li>
                                    {% endfor %}
                                </ul>
                            </p>
                    </div>
            {% if changeDate %}
                {% set changeDate = false %}
                </li>
            {% endif %}
        {% endfor %}
        </ul>
  </section>
</div>
<div class="row">
    <div class="col-12">
    <nav>
        <ul class="pagination flex-wrap" id="pagination">
            <li class="page-item" id="previous">
                <a class="page-link {% if pagination.pageNumber == 0 %}disabled{% endif %}" href="{{ pagination.hrefs[pagination.pageNumber - 1] }}" id="previous-link">Previous</a>
            </li>
            {%- for pageEntry in pagination.pages %}
                <li class="page-item {% if page.url == pagination.hrefs[ loop.index0 ] %}active{% endif %}">
                    <a class="page-link" href="{{ pagination.hrefs[ loop.index0 ] }}">{{ loop.index }}</a>
                </li>
            {%- endfor %}
            <li class="page-item" id="next">
                <a class="page-link {% if pagination.pageNumber == pagination.hrefs.length - 1 %}disabled{% endif %}" href="{{ pagination.hrefs[pagination.pageNumber + 1] }}" id="next-link">Next</a>
            </li>
        </ul>
    </nav>
    </div>
</div>
