<div class="col-12">
    <section class="py-4">
        {% if historyPage | length %}
        <ul class="timeline" id="timeline"> {% set currentDate = "" %}
        {% set changeDate = true %}
        {% for item in historyPage %}
            {% if item.date != currentDate %}
                {% set currentDate = item.date %}
                {% set changeDate = true %}
                <li class="timeline-item">
                    <p class="timeline-date">{{ item.date }}</p>
            {% endif %}
                        <div class="text-muted">
                            <p class="timeline-domain">
                                {% if not domain %}
                                {# Don't show if on profile changelog #}
                                {{ item.url }}:
                                {% endif %}
                                <ul>
                                    {% set statusGood = true %}
                                    {% for status in item.changes %}
                                        {% set statusGood = statusGood and status.statusCode < 300 %}
                                    {% endfor %}
                                    {% if statusGood %}
                                        {% for field in item.changes %}
                                            <li>
                                                <a href="/profile/{{ item.url | slugify }}/details/?attr={{ field.topic | lower }}">
                                                    {{ field.topic }}
                                                </a>: 
                                                Grade: {{ field.oldPercent | gradify }} → {{ field.newPercent | gradify }} /
                                                Score: {{ field.oldPercent | percentify }} → {{ field.newPercent | percentify }}
                                                ({{ field.newScore }} of {{ field.newTotal }} elements)
                                                {% if field.oldPercent < field.newPercent %}
                                                    <i class="text-success fa-solid fa-circle-up"></i>
                                                {% else %}
                                                    <i class="text-danger fa-solid fa-circle-down"></i>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        <li>
                                            <a href="/profile/{{ item.url | slugify }}/overall/">Down</a>
                                            <i class="text-warning fa-solid fa-circle-exclamation"></i>
                                        </li>
                                    {% endif %}
                                </ul>
                            </p>
                    </div>
            {% if changeDate %}
                {% set changeDate = false %}
                </li>
            {% endif %}
        {% endfor %}
        </ul>
        {% else %}
        <p class="text-muted">No history
            {% if domain %}for {{ domain.url }}{% endif %}
        </p>
        {% endif %}
    </section>
</div>
