<div class="row mt-3" id="score-card">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex align-items-stretch">
    <div class="card mb-3 text-bg-{{ dataset | specificAverageScore(specificAttribute) | colorify }}" id="grade-card">
      <div class="card-header">
            Average {% if specificAttribute %}{{ specificAttribute }}{% else %}overall{% endif %} grade
          </div>
      <div class="card-body text-center pt-5">
        <p class="display-1" id="grade">{{ dataset | specificAverageScore(specificAttribute) | gradify }}</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex align-items-stretch">
    <div class="card mb-3 text-bg-dark" id="score">
      <div class="card-header">
            Average {% if specificAttribute %}{{ specificAttribute }}{% else %}overall{% endif %} score
          </div>
      <div class="card-body text-center">
        <p class="display-1">
          <span id="percent">{{ dataset | specificAverageScore(specificAttribute) }}</span>%
            </p>
      </div>
      <div class="card-footer text-center" id="amount">
        {% if(specificAttribute) %}
          {{ dataset | specificAverageElements(specificAttribute) }}
        {% else %}
          {{ dataset | averageElements }}
        {% endif %}
      </div>
    </div>
  </div>
</div>