<div class="container-fluid">
  <footer>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p class="small">
        Built with
        <i class="fa-solid fa-heart" aria-label="Heart"></i>
        by
        <a href="{{ site['org-url'] }}">{{ site.org }}</a>.       
        2025
      </p>
    </div>
  </footer>
</div>
<div id="feedback-container" class="text-center">
  <a
    href="https://my.scangov.com/scan"
    id="feedback-button"
    aria-label="Scan my site"
    class="feedback btn btn-lg">
    Scan my site
  </a>
</div>
<script>
  const feedbackButton = document.getElementById("feedback-button");
  window.addEventListener('scroll', () => {
    if (document.documentElement.scrollTop > window.innerHeight * .3) 
      feedbackButton.style.opacity = '1';
    else
      feedbackButton.style.opacity = '0';
  });
</script>
<script
  async
  defer
  src="https://www.googletagmanager.com/gtag/js?id=G-MM5GF482X0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MM5GF482X0');
</script>
{% include "js.html" %}</body></html>