<div class="container">
  {% include "supporters.html" %}
  <footer>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p class="small">
        <a href="{{ site['org-url'] }}" style="text-decoration: none;">{{ site.org }}</a>
        2025
      </p>
    </div>
  </footer>
</div>
<a
  href="https://my.scangov.com/scan"
  id="feedback-button"
  aria-label="Scan my site"
  class="feedback"
  style="">
  Scan my site
</a>
<script>
  const feedbackButton = document.getElementById("feedback-button");
  window.addEventListener('scroll', () => {
    if (document.documentElement.scrollTop > window.innerHeight * .3) 
      feedbackButton.style.opacity = '1';
    else
      feedbackButton.style.opacity = '0';
  });
</script>
<script
  async
  defer
  src="https://www.googletagmanager.com/gtag/js?id=G-MM5GF482X0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MM5GF482X0');
</script>
{% include "js.html" %}</body></html>