<div class="table-responsive table-hover">
  <table class="table table-responsive table-bordered table-hover mb-2">
    <thead class="">
      <tr>
        <th scope="col">Standard
          <a
            href="https://docs.scangov.org/standards"
            style="color: inherit;"
            class="text-decoration-none">
            <i class="fa-solid fa-circle-question"></i>
          </a>
        </th>
        <th scope="col" style="width: 25%">Status&nbsp;<a
            href="https://docs.scangov.org/status"
            style="color: inherit;"
            class="text-decoration-none">
            <i class="fa-solid fa-circle-question"></i>
          </a>
        </th>
      </tr>
    </thead>
    <tbody id="table-compliance-{{ scorekey }}">
      {% for attrKey, score in domain[scorekey] %}
        {% set attrInfo = domain[scorekey] | findAuditAttribute(scorekey, attrKey) %}
          <tr>
            <td>
              {% if attrInfo %}
                <a href="https://standards.scangov.org/{{ attrInfo.key }}">{{ attrInfo.displayName }}</a><br>
                <small>{{ attrInfo.description }}</small>
              {% else %}
                {{ attrKey }}
              {% endif %}
            </td>
            <td>
              {% if domain.status != 200 %}
                <i class="fa-solid fa-circle-exclamation text-warning"></i>
                <span class="d-xl-inline">Can't access (<a href="https://docs.scangov.org/status#500">500</a>)</span>
              {% else %}
                {% if (domain.scores[scorekey] | length === 0) %}
                  N/A
                {% else %}
                  <i class="fa-solid {% if score %}fa-circle-check text-success{% else %}fa-circle-xmark text-danger{% endif %}"></i>
                  <span class="d-xl-inline">
                    {% if score %}Active{% else %}Missing{% endif %}
                  </span>
                {% endif %}
              {% endif %}
            </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
