{% if currentsort %}
    {% set directory = currentsort + "/" %}
{% else %}
    {% set directory = "" %}
{% endif %}
{% set currentHighlight = " active\" aria-current=\"page" %}
{% set topLevel = false %}
{% if page.url.indexOf("/cities/") == -1 and page.url.indexOf("/states/") == -1 and page.url.indexOf("/federal/") == -1 %}
    {% set topLevel = true %}
{% endif %}

<ul class="nav nav-pills small">
    <li class="nav-item">
        <a class="nav-link btn btn-primary-outline mx-1{% if topLevel %}{{ currentHighlight | safe }}{% endif %}" href="/rankings/{{ specificAttribute }}">All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-primary-outline mx-1{% if page.url.indexOf("/cities/") != -1 %}{{ currentHighlight | safe }}{% endif %}" href="/rankings/cities/{{ specificAttribute }}/">Cities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-primary-outline mx-1{% if page.url.indexOf("/states/") != -1 %}{{ currentHighlight | safe }}{% endif %}" href="/rankings/states/{{ specificAttribute }}/">States</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-primary-outline mx-1{% if page.url.indexOf("/federal/") != -1 %}{{ currentHighlight | safe }}{% endif %}" href="/rankings/federal/{{ specificAttribute }}/">Federal</a>
    </li>
</ul>

<ul class="nav nav-pills mt-2 mb-2 small">
    <li class="nav-item">
        <a class="nav-link btn btn-primary-outline mx-1
            {% if not specificAttribute %}
                active" aria-current="page
            {% endif %}
        " href="/rankings/{{ directory }}">Overall</a>
    </li>
    {% for topic in site.data %}
        <li class="nav-item">
            <a class="nav-link btn btn-primary-outline mx-1
                {% if specificAttribute === topic.toLowerCase() %}
                    active" aria-current="page
                {% endif %}
            " href="/rankings/{{ directory }}{{ topic.toLowerCase() }}/">{{ topic }}</a>
        </li>
    {% endfor %}
</ul>
