<tr>
  <th scope="col" style="white-space: nowrap">Rank <a href="https://docs.scangov.org/rankings" style="color: inherit;"><i class="fa-solid fa-circle-question"></i></a></th>
  <th scope="col">Site</th>
  <th scope="col" class="biggest">Status <a href="https://docs.scangov.org/status" style="color: inherit;"><i class="fa-solid fa-circle-question"></i></a></th>
  <th scope="col" style="white-space: nowrap">Grade <a href="https://docs.scangov.org/grades" style="color: inherit;"><i class="fa-solid fa-circle-question"></i></a></th>
</tr>
