<a id="sort"></a>
<ul class="nav nav-pills">
  <li class="nav-item">
    {% if page.url.indexOf("/cities/") == -1 and page.url.indexOf("/states/") == -1 %}
      <a class="nav-link active" aria-current="page" href="/sorts/accessibility/#sort">All</a>
    {% else %}
      <a class="nav-link" href="/#sort">All</a>
    {% endif %}
  </li>
  <li class="nav-item">
    {% if page.url.indexOf("/cities/") != -1 %}
      <a class="nav-link active" aria-current="page" href="/rankings/cities/#sort">Cities</a>
    {% else %}
      <a class="nav-link" href="/rankings/cities/#sort">Cities</a>
    {% endif %}
  </li>
  <li class="nav-item">
    {% if page.url.indexOf("/states/") != -1 %}
      <a class="nav-link active" aria-current="page" href="/rankings/states/#sort">States</a>
    {% else %}
      <a class="nav-link" href="/rankings/states/#sort">States</a>
    {% endif %}
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Federal</a>
  </li>
</ul>