---
layout: layouts/default
profile: true

pagination:
  data: domain_changelog
  size: 1
  addAllPagesToCollections: true
  alias: domain

permalink: "profile/{{ domain.url | slugify }}/changelog/"

eleventyComputed:
  title: "{{ domain.url }} changelog"
  description: "{{ domain.url }} changelog."
  agency: by {{ domain.name }}
---

{% set domainSlug = domain.url %}
{% include "profilelinks.html" %}

<div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
    {% set pageHeading = "Changelog" %}
    {% set headingPrefix = domainSlug %}
    {% include "page-heading.html" %}
    {% include "details.html" %}
    {% include "actions.html" %}
    <div id="changelog-section">
        <div class="row">
            {% set historyPage = domain.log %}
            {% include 'changelog_list.html' %}
        </div>
    </div>
</div>
