---
description: "Project ScanGov rankings of every U.S. state government website by overall digital experience grade, with accessibility, botability, security, and usability scores and the most common failures."
home: false
layout: layouts/default
title: State websites ranked by digital experience
keywords: state government websites, rankings
showLastUpdated: true
permalink: /rankings/states/

pagination:
  data: states
  size: 100
  alias: member
---

{% set specificAttribute = "" %}
{% set currentsort = "states" %}
{% set showPagination = true %}
{% set chartsInclude = "group-charts.html" %}
{% set groupSummary = stateSummary %}
{% set groupNoun = "state sites" %}
{% set groupMap = true %}
{% set compactTable = true %}

{% include "sortcontent.html" %}
{% set footnoteSubject = "the main website of each U.S. state government and the District of Columbia" %}
{% set footnoteScope = "" %}
{% set footnoteRespondingCount = stateSummary.respondingCount %}
{% set footnoteScoredCount = stateSummary.scoredCount %}
{% set footnotePartialCount = stateSummary.partialCount %}
{% set footnoteNoResponseCount = stateSummary.count - stateSummary.respondingCount %}
{% set footnoteScanWindow = stateSummary.scanWindow %}
<div class="container">{% include "data-footnote.html" %}</div>
