---
home: false
layout: layouts/default
title: "State websites: usability rankings"
descriptionHtml: 'Project ScanGov <a href="https://standards.scangov.org/usability/">usability</a> rankings for U.S. state government websites, with the most common failures.'
showLastUpdated: true
keywords: state government websites, rankings, usability

pagination:
  data: usabilitytags.states
  size: 100
  alias: member
---

{% set specificAttribute = "usability" %}
{% set currentsort = "states" %}
{% set showPagination = true %}
{% set chartsInclude = "group-charts.html" %}
{% set groupSummary = stateSummary %}
{% set groupNoun = "state sites" %}
{% set groupMap = true %}
{% set compactTable = true %}

{% include "sortcontent.html" %}
{% set footnoteSubject = "the main website of each U.S. state government and the District of Columbia" %}
{% set footnoteScope = "" %}
{% set footnoteRespondingCount = stateSummary.respondingCount %}
{% set footnoteScoredCount = stateSummary.scoredCount %}
{% set footnotePartialCount = stateSummary.partialCount %}
{% set footnoteNoResponseCount = stateSummary.count - stateSummary.respondingCount %}
{% set footnoteScanWindow = stateSummary.scanWindow %}
<div class="container">{% include "data-footnote.html" %}</div>
